.transactionTable {
width: 400px;
margin: 0 auto;
margin-top: 40px;
outline: 4px solid black;
text-align: center;
border-radius: 6px;
}

.headers {
    background-color: beige;    
}

.transactionTittle {
    font-size: larger;
}

.tableColors {
    background-color:blanchedalmond;
}

.tableColors:nth-child(2n){
    background-color:burlywood;
}